<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
    <title>{% trans "Blog" %}</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>{% trans "Blog" %}</h1>
        <ul>
            {% for article in all_article_list %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p>{{ article.publication_date }}</p>
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                {% endif %}
            </li>

            <a href="{% url 'diotmultilang:articleOne' article.id %}"><button>Lire la suite</button> </a>

        {% endfor %}
            
        </ul>

    </main>



    <a href="/change_language/fr/">Français</a> | <a href="/change_language/en/">English</a>
</body>
</html>
